<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9cf30c45-1551-40bc-a67f-aac5cb18f270/resourceGroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/sites/LeafletAIGeojson</ResourceId>
    <IsLinux>True</IsLinux>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://leafletaigeojson-bmh4czbdgefxd7e3.canadaeast-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>1abcbdc8-2260-2d8f-2a5b-88cf77cd4ab4</ProjectGuid>
    <PublishUrl>https://leafletaigeojson-bmh4czbdgefxd7e3.scm.canadaeast-01.azurewebsites.net/</PublishUrl>
    <UserName>$LeafletAIGeojson</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>